@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Blue Scale */
    --color-primary-50: #fff2f2; /* Note: This looks like a very light tint */
    --color-primary-100: #dde2ff;
    --color-primary-200: #bbc4ff;
    --color-primary-300: #99a6ff;
    --color-primary-400: #7789ff;
    --color-primary-500: #334eff;
    --color-primary-600: #0022ff;
    --color-primary-700: #0019bf;
    --color-primary-800: #00159f;
    --color-primary-900: #001180;
    --color-primary-950: #000d60;
    --color-primary-deep: #000420;

    /* Destructive/Red Scale */
    --color-red-50: #ffe6e6;
    --color-red-100: #ffcccc;
    --color-red-200: #ff9a9a;
    --color-red-300: #ff6767;
    --color-red-400: #ff1b1b;
    --color-red-500: #d40000;
    --color-red-600: #b00000;
    --color-red-700: #8d0000;
    --color-red-800: #6a0000;
    --color-red-900: #470000;
    --color-red-text: #FF0055;
  }
}
